@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    overflow-x: hidden;
}
h5, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
p {
    color: #707070;
}
.card-title {
    margin-bottom: 5px; 
}
#logoBlack {
    width: 20%;
}